version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: always

    environment:
      # Note: "root" user is created by default
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: username
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ~/Desktop/workspace/databases/mysql_data:/var/lib/mysql
