version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo_db
    restart: always

    environment:
      MONGO_INITDB_ROOT_USERNAME: username
      MONGO_INITDB_ROOT_PASSWORD: password

    ports:
      - "27017:27017"
      
    volumes:
      - ~/Desktop/workspace/databases/mongo_data:/data/db