version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always

    environment:
      # POSTGRES_DB: my_database
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password

    ports:
      - "5432:5432"

    volumes:
      - ~/Desktop/workspace/databases/postgres_data:/var/lib/postgresql/data